* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace ;
    list-style-type: none;
    text-decoration: none;
    
}

.barra {
    width: 100%;
    background: rgb(78, 78, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px ;
    }

    .barra img {
        background: rgb(192, 181, 181);
        display: flex;
        padding: 2px;
        height: 60px;
        justify-content: center;
        border-radius: 1rem;
    }
    .barra span{
        
        align-items: flex-end;
        color: rgba(245, 237, 237, 0.993);
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;      
        
        }

    .menu-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;

    }
    .menu-lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 20px; 
       
    }

    .menu-lista a {
        color: rgba(245, 237, 237, 0.993);
    }

    /* E3 */

    #intro {
        display: flex;
        padding: 70px 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: rgb(110, 110, 177);
    }

    .descripciones {
        display: flex;
        gap: 20px;
        width: 100%;
    } 

    .descripcion {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .descripcion h1 {
        font-size: 48px;
        width: 80%;
        font-weight: 800;
    }

    .descripcion p {
        font-size: 16px;
        font-weight: 400;
        width: 70%;
    }

    .descripcion a {
        font-size: 14px;
        font-weight: 300;
        background: rgb(24, 233, 118);
        padding: 15px 25px;
        border-radius: 5px;
        text-align: center;
    }

    .descripcion-grafica {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 50%;
    }

    .descripcion-grafica img{
        border-radius: 10px;
        padding: 5px;
        height: 440px;
        width: 550px;
    }
